@import "./vendor/bootstrap";
@import "../../../node_modules/@fortawesome/fontawesome-pro/less/fontawesome";

@fa-font-path: "/assets/fonts/fontawesome";

@font-size-base: 14px;
@header-height: 45px;

@brand-success: #27ae60;

body {
    background: #f5f6fe;
}

h4 {
    font-size: 16px;
    text-align: center;
}

small {
    color: #999;
    display: block;
    font-size: 13px;
}

.cursor--pointer {
    cursor: pointer;
}

.flex {
    display: flex;
}

.flex--align-center {
    align-items: center;
}
.flex--justify-start {
    justify-content: flex-start;
}

.mr-1 {
    margin-right: 10px;
}

.vis-hide {
    visibility: hidden;
}

.no-shrink {
    flex-shrink: 0;
}

.container {
    width: 100%;
    max-width: 1200px;
    padding: 15px;
}

.card {
    background: rgb(255, 255, 255);
    border: 1px solid rgb(236, 239, 241);
    padding: 15px;
    margin-bottom: 15px;
}

.round-card {
    background: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 15px 13px 27px #e1e1e3, -15px -15px 27px #ffffff;
    padding: 15px;
}

:first-child {
    margin-top: 0;
}

:last-child {
    margin-bottom: 0;
}
